Caipandata/trunk/FxtService/FxtService.Proxy/Service References/FxtCollateral/FxtCollateral1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FxtNHibernate.FxtDataDomain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FxtNHibernate.FxtDataDomain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataCollateral">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Agency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="BlankId" type="xs:int" />
      <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCityId" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingArea" type="xs:decimal" />
      <xs:element minOccurs="0" name="BuildingId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BuildingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityId" type="xs:int" />
      <xs:element minOccurs="0" name="Clerk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreditRating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstPay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FloorNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Installment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineOfcredit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanAge" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoanBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanCardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanCardinalNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanCensus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanEducationalBackground" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanInterestRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanMarriage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanPeople" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanProfession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoanSalary" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LoanSex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoanYear" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthsPay" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceId" type="xs:int" />
      <xs:element minOccurs="0" name="PurposeCode" type="xs:int" />
      <xs:element minOccurs="0" name="Road" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoadNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoomNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubAreaId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataCollateral" nillable="true" type="tns:DataCollateral" />
</xs:schema>