fzcode/KS0218_金太阳同步学pep_online/Kingsun.PSO/Web References/SeparateAccountSystem/Ledger_Relation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckClassResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassSchoolByUserid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassSchoolByUseridResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClassSchoolByUseridResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassByClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Classid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassByClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClassByClassResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClassByUseridClassID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClassByUseridClassIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddClassByUseridClassIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRelatrion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckRelatrionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckRelatrionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddOrderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckClassSoapIn">
    <wsdl:part name="parameters" element="tns:CheckClass" />
  </wsdl:message>
  <wsdl:message name="CheckClassSoapOut">
    <wsdl:part name="parameters" element="tns:CheckClassResponse" />
  </wsdl:message>
  <wsdl:message name="GetClassSchoolByUseridSoapIn">
    <wsdl:part name="parameters" element="tns:GetClassSchoolByUserid" />
  </wsdl:message>
  <wsdl:message name="GetClassSchoolByUseridSoapOut">
    <wsdl:part name="parameters" element="tns:GetClassSchoolByUseridResponse" />
  </wsdl:message>
  <wsdl:message name="GetClassByClassSoapIn">
    <wsdl:part name="parameters" element="tns:GetClassByClass" />
  </wsdl:message>
  <wsdl:message name="GetClassByClassSoapOut">
    <wsdl:part name="parameters" element="tns:GetClassByClassResponse" />
  </wsdl:message>
  <wsdl:message name="AddClassByUseridClassIDSoapIn">
    <wsdl:part name="parameters" element="tns:AddClassByUseridClassID" />
  </wsdl:message>
  <wsdl:message name="AddClassByUseridClassIDSoapOut">
    <wsdl:part name="parameters" element="tns:AddClassByUseridClassIDResponse" />
  </wsdl:message>
  <wsdl:message name="CheckRelatrionSoapIn">
    <wsdl:part name="parameters" element="tns:CheckRelatrion" />
  </wsdl:message>
  <wsdl:message name="CheckRelatrionSoapOut">
    <wsdl:part name="parameters" element="tns:CheckRelatrionResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="AddOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="Ledger_RelationSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckClass">
      <wsdl:input message="tns:CheckClassSoapIn" />
      <wsdl:output message="tns:CheckClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClassSchoolByUserid">
      <wsdl:input message="tns:GetClassSchoolByUseridSoapIn" />
      <wsdl:output message="tns:GetClassSchoolByUseridSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClassByClass">
      <wsdl:input message="tns:GetClassByClassSoapIn" />
      <wsdl:output message="tns:GetClassByClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClassByUseridClassID">
      <wsdl:input message="tns:AddClassByUseridClassIDSoapIn" />
      <wsdl:output message="tns:AddClassByUseridClassIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckRelatrion">
      <wsdl:input message="tns:CheckRelatrionSoapIn" />
      <wsdl:output message="tns:CheckRelatrionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input message="tns:AddOrderSoapIn" />
      <wsdl:output message="tns:AddOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Ledger_RelationSoap" type="tns:Ledger_RelationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckClass">
      <soap:operation soapAction="http://tempuri.org/CheckClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassSchoolByUserid">
      <soap:operation soapAction="http://tempuri.org/GetClassSchoolByUserid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassByClass">
      <soap:operation soapAction="http://tempuri.org/GetClassByClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClassByUseridClassID">
      <soap:operation soapAction="http://tempuri.org/AddClassByUseridClassID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRelatrion">
      <soap:operation soapAction="http://tempuri.org/CheckRelatrion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Ledger_RelationSoap12" type="tns:Ledger_RelationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckClass">
      <soap12:operation soapAction="http://tempuri.org/CheckClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassSchoolByUserid">
      <soap12:operation soapAction="http://tempuri.org/GetClassSchoolByUserid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassByClass">
      <soap12:operation soapAction="http://tempuri.org/GetClassByClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClassByUseridClassID">
      <soap12:operation soapAction="http://tempuri.org/AddClassByUseridClassID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRelatrion">
      <soap12:operation soapAction="http://tempuri.org/CheckRelatrion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap12:operation soapAction="http://tempuri.org/AddOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ledger_Relation">
    <wsdl:port name="Ledger_RelationSoap" binding="tns:Ledger_RelationSoap">
      <soap:address location="http://192.168.3.91:10001/WebClientService/Ledger_Relation.asmx" />
    </wsdl:port>
    <wsdl:port name="Ledger_RelationSoap12" binding="tns:Ledger_RelationSoap12">
      <soap12:address location="http://192.168.3.91:10001/WebClientService/Ledger_Relation.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>