GitDemo/DataCenter2.0/DataCenter/FXT.DataCenter.WebUI/Service References/BatchAddPicture/BatchAddPicture1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProjectPictures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unZipFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
        <xs:element minOccurs="0" name="fxtCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildingPictures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unZipFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
        <xs:element minOccurs="0" name="fxtCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>