FxtCenterServiceOpen/FXT.VQ.VQCenter/Service References/VQCenterService/PropertyHand.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vqcenterwcf.fxtchina.com/PropertyHand.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VQOperatCenter.Entity" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VQOperatCenter.Entity" minOccurs="0" name="property" nillable="true" type="q1:PropertyMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VQOperatCenter.Entity" minOccurs="0" name="param" nillable="true" type="q2:LoanExcelParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>