GitDemo/DataCenter2.0/DataCenter/FXT.DataCenter.WebUI/Service References/ExcelUploadServices/ExcelUpload1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityid" type="xs:int" />
        <xs:element minOccurs="0" name="fxtcompanyid" type="xs:int" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>