GitDemo/DataCenter2.0/DataCenter/FXT.DataCenter.WebUI/Service References/ResidentialServices/Residential21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DeleteSameProjectCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fxtCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="cityId" type="xs:int" />
        <xs:element minOccurs="0" name="caseDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="caseDateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>