fzcode/KS0218_金太阳同步学pep_online/Kingsun.SynchronousStudy.Web/Service References/RelationReference/RelationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.UserService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.UserService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnInfo" nillable="true" type="tns:ReturnInfo" />
</xs:schema>