fzcode/KS0218_金太阳同步学pep_online/Kingsun.SynchronousStudy.Web/Service References/RelationReference/RelationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.3.93:8060/RelationService/RelationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.3.93:8060/RelationService/RelationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" />
  <xs:import schemaLocation="http://192.168.3.93:8060/RelationService/RelationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.UserService" />
  <xs:element name="AddClassInBPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolId" type="xs:int" />
        <xs:element minOccurs="0" name="classname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassInBPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClassInBPointResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassInCPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolId" type="xs:int" />
        <xs:element minOccurs="0" name="classname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClassInCPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClassInCPointResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="classid" type="q1:guid" />
        <xs:element minOccurs="0" name="schoolid" type="xs:int" />
        <xs:element minOccurs="0" name="subjectid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="classId" type="q2:guid" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticationClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="classId" type="q3:guid" />
        <xs:element minOccurs="0" name="schoolId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticationClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticationClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClassIsAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClassIsAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckClassIsAuthenticationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserClassByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserClassByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" minOccurs="0" name="GetUserClassByUserIdResult" nillable="true" type="q4:ArrayOftb_UserClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserClassByTelPhoneOrInvNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telephone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invitationNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserClassByTelPhoneOrInvNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" minOccurs="0" name="GetUserClassByTelPhoneOrInvNumResult" nillable="true" type="q5:ArrayOftb_Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YZSchoolGlassTeacherSubjectIsExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="classid" type="q6:guid" />
        <xs:element minOccurs="0" name="schoolid" type="xs:int" />
        <xs:element minOccurs="0" name="subjectid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YZSchoolGlassTeacherSubjectIsExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YZSchoolGlassTeacherSubjectIsExistsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassInfoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClassId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassInfoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" minOccurs="0" name="GetClassInfoByIDResult" nillable="true" type="q7:tb_Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassInfoByStuID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stuID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassInfoByStuIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" minOccurs="0" name="GetClassInfoByStuIDResult" nillable="true" type="q8:tb_Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStuListByClassNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStuListByClassNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" minOccurs="0" name="GetStuListByClassNumResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeaByClassIDAndSubjectID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClassNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeaByClassIDAndSubjectIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.UserService" minOccurs="0" name="GetTeaByClassIDAndSubjectIDResult" nillable="true" type="q10:ReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBindClassTea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="classid" type="q11:guid" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBindClassTeaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnBindClassTeaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBindClassStu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StuUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClassID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBindClassStuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.UserService" minOccurs="0" name="UnBindClassStuResult" nillable="true" type="q12:ReturnInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" minOccurs="0" name="GetUserInfoByUserIDResult" nillable="true" type="q13:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStuListByClassID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStuListByClassIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" minOccurs="0" name="GetStuListByClassIDResult" nillable="true" type="q14:ArrayOftb_Relation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Kingsun.FZUUMS.Model" minOccurs="0" name="user" nillable="true" type="q15:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>